body {
    background-image: url(office.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
/*    display: flex;*/
   min-height: 100%;
    /* /* min-width: 100%; */
    height:auto;
    display:block; 
    /* background-size: cover; */
/*    flex-direction: column;*/
/*    background-size: 100% auto;*/
    /*        width: 1500px;*/
    /* margin: auto;
    display: inline-block; */
    color: black;
    font-size: 20px;
    /* font-family: sans-serif; */
    text-align: center;
    /*    position: center;*/
}

.name {
    color: white;
    position: absolute;
    top: 133px;
    left: 42%;
    font-size: 20px;
}

.nameanswer {
    color: black;
    position: absolute;
    padding: 15px;
    font-size: 20px;
    top: 33px;
    left: 1%;
    text-align: center;
}

.adjectiveanswer{
    color: black;
    position: absolute;
    padding: 15px;
    width: 400px;
    font-size: 20px;
    top: 33px;
    left: 20%;
    text-align: center;
}

.aboutbutton {
    float: left;
    background-color: #084938;
    color: white;
    border: none;
    position: absolute;
    padding: 20px;
    top: 23px;
    left: 200px;
    font-size: 18px;
    height: 60px;
    width: 90px;
    cursor: pointer;
    border-radius: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.jobtypes {
    float: left;
    background-color: #084938;
    color: white;
    border: none;
    position: absolute;
    padding: 20px;
    top: 23px;
    left: 1100px;
    font-size: 18px;
    height: 60px;
    width: 90px;
    cursor: pointer;
    border-radius: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.questionposition {
    color: white;
    text-shadow: 0 0 3px #084938, 0 0 5px black;
    position: absolute;
    top: 40%;
    left: 36%;
}

.link {
    position: absolute;
    top: 90%;
    left: 47%;
    color: white;
}

.paragraph {
    background-color: #084938;
    padding: 50px;
    border:dotted;
    font-size: 20px;
    color: white;
    position: fixed;
    top: 50%;
    left: 25%;
    width: 600px;
    display: inline-block;
}

.topleft {
    position: absolute;
    top: 33px;
    left: 70px;
    font-size: 18px;
    font-family: Tarot;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* 
@font-face {font-family: Georgia, 'Times New Roman', Times, serif; src: url('Tarot.otf')} */


.footer {
    position: absolute;
    bottom: 0;
    left: 20px;
    color: white;
    font-size: 15px;
}

.dashboard {
    float: left;
    background-color: #084938;
    color: white;
    border: none;
    position: absolute;
    padding: 20px;
    top: 23px;
    left: 660px;
    font-size: 18px;
    height: 60px;
    width: 90px;
    cursor: pointer;
    border-radius: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.zoom {
    /* padding: 30px; */
    border: none;
    background-color: lightgreen;
    transition: transform .2s; /* Animation */
    width: 100px;
    height: 60px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 47%;
    color: black;
    font-size: 20px;
    cursor: pointer;
    background-color: #ddd;
  transition: 0.3s;
  }
  
  .zoom:hover {
    background-color: #084938;
    color: white;
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }


  h1, h2 {
      color: #888;
      margin:0;
      font-weight:normal;
  }
  h1{ padding-top: 1.5em; padding-bottom: 2em; } 
  h2 {
      clear:both;
      color: #aaa;
      padding: 2em 0 0.3em
  }
  em {
      display: block;
      margin: .5em auto 2em;
      color: #bbb;
  }

  p, p a { 
      color: #aaa;
      text-decoration: none;
  }
  p a:hover,
  p a:focus {
      text-decoration: underline;
  }
  p + p { color: #bbb; margin-top: 2em;}
  .detail {position: absolute; text-align: right; right: 5px; bottom: 5px; width: 50%;}
  
  a[href*="intent"] {
      display:inline-block;
      margin-top: 0.4em;
  }

  /*  
   * Rating styles
   */
  .rating {
      width: 226px;
      margin: 0 auto 1em;
      font-size: 45px;
      overflow:hidden;
  }
.rating input {
float: right;
opacity: 0;
position: absolute;
}
  .rating a,
.rating label {
      float:right;
      color: #aaa;
      text-decoration: none;
      -webkit-transition: color .4s;
      -moz-transition: color .4s;
      -o-transition: color .4s;
      transition: color .4s;
  }
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
  .rating a:hover,
  .rating a:hover ~ a,
  .rating a:focus,
  .rating a:focus ~ a		{
      color: #084938;
      cursor: pointer;
  }
  .rating2 {
      direction: rtl;
  }
  .rating2 a {
      float:none
  }

  